.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-title{
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.pro-details{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;

}

.pro-btns{
    padding-top: 2rem ;
    padding-bottom: 1rem;

}

.btn{
    margin: 0.2rem 1rem;
}

.project-card{
    height: fit-content;
    background: #1a1919;
    padding: 1.2rem 1rem;

}

.project-card img{
    width: 100%;
}